ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
}

.clear5{
    clear:both;
    width:100%;
    height:5px;
}
.clear3{
    clear:both;
    width:100%;
    height:3px;
}
.clear10{
    clear:both;
    width:100%;
    height:10px;
}

.clear0{
    clear:both;
    width:100%;
    height:0px;
}

.pull-left{
    float:left;
}

.pull-right{
    float:right;
}

#container{
    margin:0 auto;
    background: url(../../assets/img/background.png) no-repeat;
    padding-top:10px;
}

#wrapper{
    width:1000px;
    margin:0 auto;

}

#header-top{
    position:relative;
    background: url(../../assets/img/header-top.png) repeat-x;
}

#header-phone-icon{
    background: url(../../assets/img/tel-icon.png) no-repeat;
    width:42px;
    height:42px;
    margin-right:10px;

}

#header-phone{
    width:230px;
    margin-left:15px;
}

.header-phone-item{
    font-size:18px;
}

#header-cart-container{
    width:376px;
    height:71px;
    margin-left:22px;
    background: url(../../assets/img/header-cart-container.png) no-repeat;

}

#header-search-and-share{
    width:325px;
    height:71px;
    margin-right:10px;

}

#header-cart-icon{
    display:block;
    width:60px;
    height:60px;
    margin-left:10px;
    background: url(../../assets/img/header-cart-icon.png) no-repeat;
}

#header-cart-content{
    margin-left:10px;
    color:WHITE;
}

#hearder-cart-content-big{
    font-size:21px;
}
#hearder-cart-content-small{
    font-size:18px;
}
#hearder-cart-content-big span, #hearder-cart-content-small span{
    font-weight:bold;
}

#header-search-button{
    width:109px;
    height:28px;
    background: url(../../assets/img/header-search-button.png) no-repeat;
    border: 0;
    /*padding:0;*/
    margin:0;
}

#header-search-input{
    border: 0;
    margin:0;
    background: black;
    height:26px;
    color:white;
}
#header-logo-slider-menu{
    position:relative;
}
#header-logo-container{
    background:green;
    width:275px;
    height:339px;
}

#header-slider-container{
    width:725px;
    background: url(../../assets/img/dark-green.jpg) repeat;
    border-bottom:1px solid white;
}

#header-slider-shadow{
    position:absolute;
    z-index:10000;
    left:0;
    top:0;
}
#header-left-shadow{
    position:absolute;
    z-index:10000;
    left:-13px;
    top:0px;
}
#header-right-shadow{
    position:absolute;
    z-index:10000;
    right:-13px;
    top:0px;
}

#main-menu{
    padding:0;
    margin:0;

}

#main-menu-container{
    padding:0;
    margin:0;
   /*border-top:1px solid white;*/
}

#main-menu li {display:inline;}

#main-menu li a{
    float:left;
    /*width:101px;*/
    text-decoration:none;
    color:white;
    background: url(../../assets/img/dark-green.jpg) repeat;
    padding:0.2em 21px;
    height:52px;
    line-height:52px;
}

#main-menu li a.last-menu-item{
    padding:0.2em 21px;
}
#main-menu li a:hover,#main-menu li a.active-item{
    color:Green;
    background:White;
}

#left-menu-container{
    float:left;
    width:275px;
}
#left-menu li{
    display:inline;
}
#left-menu li a{
    display:block;
    color:green;
    background: url(../../assets/img/left-menu-background.png) repeat;
    padding:0 21px;
    /*height:52px;*/
    line-height:21px;
    text-align: center;
}
#left-menu li a:hover, #left-menu li a.active-left-menu-item{
    background: url(../../assets/img/left-menu-hover.png) no-repeat;
    color:white;
}

#content-left-menu{
    background: url(../../assets/img/grey.jpg) repeat;
}

#footer{
    background: url(../../assets/img/dark-green.jpg) repeat;
}
#footer-text{
    width:725px;
    color: white;
}

#footer-logo-container{
    height:169px;
    width:100%;
    background: url(../../assets/img/footer-logo-back.png) repeat;
}

#content{
    padding: 5px 5px;
    width:715px;
}
.catalog-item{
    padding:5px 5px;
}
.catalog-item-content{
    width:435px;
}
.catalog-item-title{
    text-align:center;
    font-weight:bold;
}

.catalog-item-size{
    display:inline-black;
    padding:0 4px;
    color:blue;
}

#product-diameter-container{
    text-align:center;
    width:100%;
}

#product-name-container{
    text-align:left;
    font-weight:bold;
}
.product-item{
    border:1px solid black;
    padding:5px;
    background:white;
}
.product-item-popup{
    display:block;
}

.product-item-img{
    width:206px;
    height:206px;
}

.product-item-content{
    padding:5px;
    padding-top:0px;
    width:481px;
}

.product-item-title{
    font-size:16px;
    font-weight:bold;
    padding:0px;
    margin:0px;
}

.product-item-type{
    margin-top:3px;
    margin-bottom:3px;
}

.product-item-price span{
    color:red;
    font-weight:bold;
    font-size:17px;
}

.product-item-price{
    margin-top:3px;
    margin-bottom:3px;
}

.product-item-select{
    margin-top:3px;
    margin-bottom:3px;
}

.quantity, .quantity_simple{
    width:20px;
}

.to-cart,.to-cart-simple, .to-cartnew{
    background: url(../../assets/img/dark-green.jpg) repeat;
    color:white;
}

.page-title{
    font-size:25px;
    font-weight:bold;
}

.left-of-map{
    padding:5px;
    width:300px;
}

.map{
    width:700px;
    height:350px;
}

.map-large{
    width:700px;
    height:400px;
}

.contact-form{
    width:400px;
}

.contact-form input{
    width:98%;
}

.contact-form textarea{
    width:98%;
    height:200px;
}
.page-subtitle{
    font-size:15px;
}
.cartTable{
    width: 90%;
    margin: 15px auto 15px auto;
    border-collapse:collapse;
}
.cartTable thead{
    background: url(../../assets/img/dark-green.jpg) repeat;
    color:white;
}

.cartTable  td{
    padding: 5px;
}

.cartTable table, .cartTable th, .cartTable td
{
    border: 1px solid white;
}

.product-td-image-name{
    display:block;
}

.product-td-image{
    width:48px;
    height:48px;
}

.product-td-name{
    height:48px;
    line-height:48px;
    font-size:14px;
    display:block;
    margin-left:3px;
}

.product-td-select-container{
    display:block;
}

.product-description-td-cont{
    display:block;
}

.prod-desc-item{
    display:block;
    font-size:10px;
}

.price-item-td span{
    font-size:16px;
}

.quantity-td-input{
    width:30px;
}

.sub-price-td span{
    font-size:14px;
}

.shipping-td-title, .payment-td-title{
    font-weight:bold;
    display:block;
}

.shipping-td-description, .payment-td-description{
    display:block;
    font-size:14px;
}

.cartTable .invisible {
    border: none;
    background-color: transparent;
}

td.dark-green{
    background: url(../../assets/img/dark-green.jpg) repeat;
    color:white;
}

.buttons-container {
text-align: center;
    margin: 10px 0 0 0;
}

.userForm caption {
    font-weight: bold;
    margin-bottom: 10px;
}

.userForm td {
    vertical-align: middle;
    padding: 2px 5px;
}

.userForm input[type=text],.userForm input[type=tel],.userForm input[type=email], .userForm textarea {
    width: 60%;
}

.userForm label {
    display: block;
    width: 100%;
    text-align: right;
}

.userForm textarea {
    width: 60%;
}

.active-catalog-item-size{
    color:red;
}

.supercategory-thumb{
    border: 2px solid #006400;
}

.supercategory_h1{
    text-align:center;
}

.supercategory_h1 a{
    color:#006400;
    text-decoration: none;;
}

#to-cart-success{
    position:fixed;
    right:0px;
    top:100px;
    font-size:20px;
    font-weight:bold;
    background: url(../../assets/img/dark-green.jpg) repeat;
    color:white;
    z-index:9999999999999;
    padding:15px;
}

.emptyCart{
    text-align: center;
    color:red;
    font-weight:bold;
}

.wh-bg{
    background: white!important;
}

.product-td-select-container select{
    width:90%;
}

.searchresults a{
    color:green;
    font-size:20px;
    text-decoration: none;
}
.searchresults{
    text-align: center;
    margin: 2px 0;
}