.supercategory,.supercategory a{
    color:red;
    font-weight:bold;
    margin-bottom:10px;
}

.category,.category a{
    color:BLUE;
    font-weight:bold;
    margin-bottom:10px;

}
.product,.product a, .productnew, .productnew a{
    color:GREEN;
    font-weight:bold;
    margin-bottom:10px;

}

.category_simple,.category_simple a,.categorynew,.categorynew a{
    color:ORANGE;
    font-weight:bold;
    margin-bottom:10px;

}